In [ ]:
(lambda x: x+2)(2)

4

In [ ]:
(lambda x,y : x*2+y)(2,2)

6

In [ ]:
salary_family = [10000,20000]

increased_salary = []
for salary in salary_family:
  increased_salary.append(salary*2)
print(increased_salary)

[20000, 40000]

In [ ]:
salary_family = [10000,20000]
bonus_rate = 0.1
total_salary = []
for salary in salary_family:
  total_salary.append((lambda salary: salary*(1 + bonus_rate))(salary))
print(total_salary)

[11000.0, 22000.0]

# Data Filtering

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [ ]:
list(filter(lambda job: job['remote'] and 'Python' in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]