# Loops - for and while

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]

for x in numbers: # numbers here is called iterable and it can be of any data type like lists, dictionary, sets, tuples and even string
  print(x)

0
1
2
3
4
5

In [ ]:
string = 'python'
for str in string:
  print(str)

p
y
t
h
o
n

In [ ]:
years_experience = {
    'sai' : 9,
    'siri' : 4,
    'krishna' : 5,
    'priyanka' : 5
}

years_experience

{'sai': 9, 'siri': 4, 'krishna': 5, 'priyanka': 5}

In [ ]:
for person in years_experience: # normal for gives only keys for dictionary iterbale
  print(person)

sai
siri
krishna
priyanka

In [ ]:
for values in years_experience.values(): # to get values, use .value() function
  print(values)

9
4
5
5

In [ ]:
for key, value in years_experience.items(): # to get both keys and values, use .items() function, but since keys and values are to be used in the loop as vaiarables, both of them to be defined as illustrated in this example
  print(key,value)

sai 9
siri 4
krishna 5
priyanka 5

In [ ]:
# incorporating if statement in the for loop

for key, value in years_experience.items():
  if value > 6:
    print(key ,'has', value,  'years of experience')

sai has 9 years of experience

In [ ]:
# range() function is commonly used in a for loop

range(5)

range(0, 5)

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
for _ in range(100):
  print(_)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# while loops are similar to for loop + if condition, i.e, if certain certitions are met only then it executes.

count = 1
while count < 5:
  print(count)
  count += 1

1
2
3
4

In [ ]:
years_experience = {
    'sai' : 15,
    'siri' : 5,
    'krishna' : 6,
    'priyanka' : 5
}

years_experience

{'sai': 15, 'siri': 5, 'krishna': 6, 'priyanka': 5}

In [ ]:
years_list = list(years_experience)
years_list

['sai', 'siri', 'krishna', 'priyanka']

In [ ]:
years_list = list(years_experience.items()) # to get values as well we should use .items()
years_list

[('sai', 15), ('siri', 5), ('krishna', 6), ('priyanka', 5)]

In [ ]:
index = 0
years_list = list(years_experience.items())
while index < len(years_list):
  name, experience = years_list[index]
  if experience > 5:
   print(name,experience)
  index += 1

sai 15
krishna 6

In [ ]:
for name, experience in years_list: # no need to counters in for loop
  if experience <6:
    print(name,experience)

siri 5
priyanka 5

# List Comprehension

In [ ]:
job_titles = [
    "Data Scientist",
    "Data Analyst",
    "Machine Learning Engineer",
    "Data Engineer",
    "AI Researcher",
    "Business Intelligence Analyst",
    "Statistician",
    "Data Science Intern",
    "Big Data Engineer",
    "Applied Scientist",
    "Research Scientist",
    "ML Ops Engineer",
    "Quantitative Analyst",
    "Decision Scientist",
    "Computer Vision Engineer",
    "NLP Engineer",
    "Deep Learning Engineer",
    "Analytics Consultant",
    "Data Architect",
    "Insight Analyst",
    "Data Analyst Engineer",
    "Data Analyst Programmer"
]

In [ ]:
data_analyst = []
for job in job_titles:
  if 'Data Analyst' in job:
    data_analyst.append(job)
print(data_analyst)

['Data Analyst', 'Data Analyst Engineer', 'Data Analyst Programmer']

In [ ]:
data_analyst = [job for job in job_titles if 'Data Analyst' in job]
print(data_analyst)

['Data Analyst', 'Data Analyst Engineer', 'Data Analyst Programmer']